# Catkin build/devel spaces
build/
devel/
logs/
install/
# Generated logs and data
logs/
data/

# Python temp files
*.pyc
__pycache__/

# Backup & Temp files
*~
*.swp
.DS_Store

# Catkin Tools state
.catkin_tools/

# Add any other specific files/directories you want to ignore below
